<div class="profile_update_container">
  <div class="box">
		<h1>Editing Profile</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @profile %> |
		<%= link_to 'Back', profiles_path %>

	</div>
</div>