@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #F0F0F0;
}

// CSS FOR JOKE INDEX PAGE
.whole{
	background-color: #F0F0F0;
}

.whole-left{
	background-color: #222222;
	width:200px;
  height: 1000px;
	float: left;
	margin: 0 auto;
}

.whole-right{
	background-color: #222222;
	width:200px;
  height: 1000px;
	float: right;
	margin: 0 auto;
}


div.img-left {
    margin: 0 auto;
    padding-left: 17px;
    padding-top: 20px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img-left img {
    display: inline;
    margin: 5px;
    // border: 1px solid #ffffff;
}

div.img-right {
    margin: 0 auto;
    padding-right: 17px;
    padding-top: 15px;
    height: auto;
    width: auto;
    float: right;
    text-align: center;
}

div.img-right img {
    display: inline;
    margin: 5px;
    // border: 1px solid #ffffff;
}




.joke_index_container{
	width: 970px;
	max-width: none !important;
	margin: 0 auto;
	background-color: #F0F0F0;
}
.thumbs{
	float: left;
	width: 240px;
	text-align: center;
	margin-top: 10px;
}
#index_title{
	text-align: center;
	color: red;
    text-shadow: 2px 2px 4px #000000;
    font-size: 48px;
}
#space{
	margin-top: 45px;
}

h2{
	font-size: 24px;
	color:teal;
	display: inline;
}

h3{
	font-size: 24px;
	color:black;
	display: inline;
}

// CSS SHOW PAGE
#middle{
	background-color: white;
	border: 1px solid #F0F0F1;
}

#trend{
	background-color: white;
	border: 1px solid #F0F0F0;
}
#view{
	color: red;
	float: right;
	margin-right: 15px;
}
#vote{
	color: red;
	float: left;
	margin-left: 15px;
}
#details{
	margin-left: 15px;	
}
#viewrow{
	border-bottom: 1px solid #F0F0F0;

}
#uprow{
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 10px;
}
#commenttitle{
	margin-left: 15px;
}
.comments{
	background-color: #F0F0F0;
}

.funny{
	float: left;
	text-align: center;
}

.fon{

	width: 300px;
	max-width: none !important;
}
#words{
	margin: 20px;
}

.showcontainer{
	width: 970px;
	max-width: none !important;
}

#bigvid{
	  margin-left: auto;
    margin-right: auto;
    
}

.videos {
	border: 1px solid red;
	border-radius: 20px;
}

.video-js{
	margin-top: 20px;
}

.side{
	float: left;
}
.sidecontainer{
	margin-bottom: 10px;
}
#recommend{
	background-color: #F0F0F0;
	border: 1px solid white;
	text-align: center;
}
#recjoke{
	margin: 0 auto;
}

#sidewords{
	width: 130px;
	margin-left: 10px;
}

.stylevideo{
	
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#showVid {
	border: 1px solid red;
	border-radius: 20px;
	background-color: black;
	height: 550px;
}
#commentlist{
	border-top: 1px solid white;
	margin-top: 10px;
}
.new_jokes_form{
	width: 600px;
	text-align: center;
	color: white;
	background-color: #404668;
	border-radius: 20px;
}
#inner_joke_form{
	width: 500px;
}

// START NAV-BAR STYLE
.navbar2 {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}
.navbar-brand {
  float: left;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbarwidth {
  width: 970px;
  left: 0;
  text-align: center;
  margin: auto;
}
.form-control2 {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 18px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn2 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 10px;
  -webkit-user-select: none;
}
// END NAV-BAR LOGO STYLE
  