<div class="container">
  <div class="row">
    <div class="col-md-3">

        <%= image_tag("/assets/logo.png", class: 'h_logo', height: '300', width: '300') %>
        <br><br>
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Categories:
                  </a>
              </li>
              <li>
                  <a class="" ui-sref="youtube({param: 'yo mama jokes'})">Yo Mama</a>
              </li>
              <li>
                  <a class="" ui-sref="youtube({param: 'blonde jokes'})">Blond Jokes</a>
              </li>
              <li>
                  <a class="" ui-sref="youtube({param: 'Cross the road jokes'})">Cross The Road</a>
              </li>
              <li>
                  <a class="" ui-sref="youtube({param: 'Politics Jokes'})">Politics</a>              
              </li>
              <li>
                  <a class="" ui-sref="youtube({param: 'Work Jokes'})">Work Jokes</a>
              </li>
              
          </ul>
      </div> 
      <br>
    </div>
    <!-- end of col-md-3 -->

    <div class="col-md-9">
        
      <div class="row">
        <div class="col-md-2"></div>
        <h2 class="h_jokeofthedayheader"><center>Joke of the day!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></h2>
        <div class="col-md-9">
        




        <img src="/assets/red-curtain-1.gif" id="h_curtain">
        <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" height="500" src="/system/jokes/videos/000/000/001/original/20141201_102856.mp4?1417459917"  id="h_videoofday" class="h_shadow"></video>
          
       
          
        </div>  
        <div class="col-md-1"></div>

      </div>
      <!-- end of row -->

      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <h3 class="h_h3"><br>Funny cat video</h3><br>
          <p class="h_viddescription">This is not a cat video!</p>
        </div>
       
    </div>
  </div>
</div>



<div class="h_wrapper">    
          <div class="row">
            <div class="col-md-4">
                <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/004/original/20141201_105051.mp4?1417494283" id="h_medvidthumb" alt="video" title="video"> </video>
                <p class="h_white">Steven telling a joke
            </p>
            </div>
            <div class="col-md-4">
                <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/005/original/20141201_101456_(1)_(1).mp4?1417495908" id="h_medvidthumb" alt="video" title="video"> </video>
                <p class="h_white">Chance telling a joke. </p>
            </div>
            <div class="col-md-4">            
                <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/006/original/20141201_101921_(1).mp4?1417496020" id="h_medvidthumb" alt="video" title="video"> </video> 
                <p class="h_white">Zach telling a joke.</p>
            </div>
         </div>
        </div>

  
           <div class="h_wrapperwhite">    
          <div class="row">
            <div class="col-md-3">
                <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/011/original/20141201_105706.mp4?1417499498" id="h_medvidthumbwhite" alt="video" title="video"> </video>  
                <p>A joke from Randy.
            </p>
            </div>
            <div class="col-md-3">
               <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/008/original/20141201_110907.mp4?1417499296" id="h_medvidthumbwhite" alt="video" title="video"> </video>   
                <p>A joke from Matt. </p>
            </div>
            <div class="col-md-3">            
                <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/010/original/20141201_111603.mp4?1417499375" id="h_medvidthumbwhite" alt="video" title="video"> </video>  
                <p>A joke from Zach.</p>
            </div>
            <div class="col-md-3">
                <video class="video-js vjs-default-skin vjs-big-play-centered stylevideo" controls="controls" src="/system/jokes/videos/000/000/009/original/20141201_213542.mp4?1417499314" id="h_medvidthumbwhite" alt="video" title="video"> </video>  
                <p>A joke from Martina.</p>
            </div>



       </div>

       

       </div>
       

         <div class="h_footer">
          <p class="h_footertext">GotJokes</p>

         </div>

    </div>







           
         </div>



