<div class="h_container">
        <div class="row">
           
            <article class="col-sm-8 col-sm-push-4">
                <img src="/assets/blkvidthumb.jpg" class="h_smallvidthumb" alt="vimeoplayer" title="vimeoplayer"><img src="/assets/blkvidthumb.jpg" class="h_smallvidthumb" alt="vimeoplayer" title="vimeoplayer"><img src="/assets/blkvidthumb.jpg" class="h_smallvidthumb" alt="vimeoplayer" title="vimeoplayer"><img src="/assets/blkvidthumb.jpg" class="h_smallvidthumb" alt="vimeoplayer" title="vimeoplayer">
              <div class="header">
                
                
              </div>
             
             <div class="h_underheader">
              <h2 class="h_h2">Joke of the day!</h2>
                <img src="/assets/red-curtain-1.gif" id="h_curtain" alt="redcurtain" title="redcurtain">
                
                <img src="/assets/vidthumb2.png" id="h_videoofday" class="h_shadow" alt="vidthumb" title="vidthumb"><div id="h_shadowbox" class="h_shadow"></div>
                <br>

                
              
                <div class="row">
                 

                  </div>
                  
                  <div class="under_vid">
                    <h3 class"h_h3">Funny cat video</h3>
                <p class="h_viddescription">This cat is a riot!</p>
                <img src="/assets/thumbsupdown.jpg" class="h_thumbs" alt="thumbsupdown" title="thumbsupdown">
              </div>

                </div>
                  
                

          

             </article>
             <aside class="col-sm-4 col-sm-pull-8">
               <img src="/assets/gotjokestext.png" class="h_gotjokes" alt="gotjokes" title="gotjokes">
                <img src="/assets/jester.jpg" class="h_jester" alt="jester" title="jester">
                  
                <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Categories:
                    </a>
                </li>
                <li>
                    <a href="#">Clean & Corny</a>
                </li>
                <li>
                    <a href="#">Dark & Dirty</a>
                </li>
                <li>
                    <a href="#">Chiild's Play</a>
                </li>
                <li>
                    <a href="#">PG-13</a>
                </li>
                <li>
                    <a href="#">Rated-R</a>
                </li>
                <li>
                 <img src="/assets/youtube.png" class="youtube" alt="youtube" title="youtube">
               </li>
                
            </ul>
        </div>


        </aside>

        <!-- /#sidebar-wrapper -->




    
</div>


<div class="h_wrapper">    
          <div class="row">
            <div class="col-md-4">
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumb" alt="vimeoplayer" title="vimeoplayer">  
                <p class="h_white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at felis quis turpis gravida dapibus. Aenean pharetra sed metus eu auctor. Etiam ac erat finibus, finibus turpis eu, tempor nulla. Praesent eget erat nec diam maximus viverra et ac ex. Morbi vel quam vel felis vulputate pulvinar. 
            </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumb" alt="vimeoplayer" title="vimeoplayer"> 
                <p class="h_white">Proin finibus sem non diam sagittis vehicula. Morbi facilisis, dolor a posuere faucibus, arcu nibh lobortis nisl, nec gravida lectus magna a neque. Maecenas ut lacus euismod, dignissim tellus vel, facilisis dolor. Ut nec dapibus mi. Fusce fringilla urna nisl, pharetra maximus quam malesuada quis. </p>
            </div>
            <div class="col-md-4">            
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumb" alt="vimeoplayer" title="vimeoplayer">  
                <p class="h_white">Nullam molestie, urna quis blandit mattis, nisi sapien euismod augue, sed tempus risus odio at lacus. Sed lobortis nibh in nibh maximus fermentum. Proin at turpis sapien. In id leo at mauris mattis scelerisque eget a neque. Nulla facilisi. </p>
            </div>
         </div>


       </div>

       <div class="h_wrapperwhite">    
          <div class="row">
            <div class="col-md-3">
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumbwhite" alt="vimeoplayer" title="vimeoplayer">  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at felis quis turpis gravida dapibus. Aenean pharetra sed metus eu auctor. Etiam ac erat finibus, finibus turpis eu, tempor nulla. Praesent eget erat nec diam maximus viverra et ac ex. Morbi vel quam vel felis vulputate pulvinar. 
            </p>
            </div>
            <div class="col-md-3">
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumbwhite" alt="vimeoplayer" title="vimeoplayer"> 
                <p>Proin finibus sem non diam sagittis vehicula. Morbi facilisis, dolor a posuere faucibus, arcu nibh lobortis nisl, nec gravida lectus magna a neque. Maecenas ut lacus euismod, dignissim tellus vel, facilisis dolor. Ut nec dapibus mi. Fusce fringilla urna nisl, pharetra maximus quam malesuada quis. </p>
            </div>
            <div class="col-md-3">            
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumbwhite" alt="vimeoplayer" title="vimeoplayer">  
                <p>Nullam molestie, urna quis blandit mattis, nisi sapien euismod augue, sed tempus risus odio at lacus. Sed lobortis nibh in nibh maximus fermentum. Proin at turpis sapien. In id leo at mauris mattis scelerisque eget a neque. Nulla facilisi. </p>
            </div>
            <div class="col-md-3">
                <img src="/assets/blkvidthumb.jpg" class="h_medvidthumbwhite" alt="vimeoplayer" title="vimeoplayer"> 
                <p>Proin finibus sem non diam sagittis vehicula. Morbi facilisis, dolor a posuere faucibus, arcu nibh lobortis nisl, nec gravida lectus magna a neque. Maecenas ut lacus euismod, dignissim tellus vel, facilisis dolor. Ut nec dapibus mi. Fusce fringilla urna nisl, pharetra maximus quam malesuada quis. </p>
            </div>


         </div>
       

         <div class="h_footer">
          <p class="h_footertext">GotJokes</p>

         </div>








</body>

</html>
          
           
         </div>




  </div>


