<!-- <div ng-app="myApp" ng-controller="searchCtrl">
 --><!-- start of blackened sidebars -->
  <div class="whole">
    <div class="whole-left">
    </div>
  </div>
  <div class="whole-right">
    <div class="img-right">
    </div>
  </div>
  <!-- end of blackened sidebars -->
  <div class="joke_index_container">
    <div class="container">
      
      <div class="row">   
        <div class="col-md-1 "></div>
        <div class="col-md-8 ">
          <br>
          <!-- YOUTUBE SEARCH QUERY -->
          <input class="form-control2" ng-model="query" type="text" placeholder="YOUTUBE" >
          <a class="btn2 btn-default btn-sm" ui-sref="youtube({param: 'jokes' + query})">SEARCH</a>

          <!-- CATEGORIES YOUTUBE QUERYS -->
          <a class="btn btn-danger btn-sm" ui-sref="youtube({param: 'yo mama jokes'})">Yo Mama</a>
          <a class="btn btn-danger btn-sm" ui-sref="youtube({param: 'blonde jokes'})">Blond Jokes</a>
          <a class="btn btn-danger btn-sm" ui-sref="youtube({param: 'Cross the road jokes'})">Cross The Road</a>
          <a class="btn btn-danger btn-sm" ui-sref="youtube({param: 'Politics Jokes'})">Politics</a>
          <a class="btn btn-danger btn-sm" ui-sref="youtube({param: 'Work Jokes'})">Work Jokes</a>
          
          
        </div>
        <br>
        <div class = "thumbs" ng-repeat="oneYoutube in videos" >

        <!-- DESCRIPTION -->
          <h6 class ="Ellipsis">{{ oneYoutube.snippet.title }}</h6>
          <br>
        <!-- EMBEDED YOUTUBE PLAYER -->
          {{getIframeSrc(oneYoutube.id.videoId)}}
          <iframe src='{{youtube_url}}' width="200" height="200" ></iframe>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

